.productsList {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    /* justify-content: space-around; */
    list-style: none;
}

@media (max-width: 1447px) {
    .productsList {
        justify-content: center;
    }
}


@media (max-width: 672px) {
    .productsList {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}