.categoriesList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-content: center;
    gap: 32px;
}

.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--main-text-color);
    font-size: var(--h4-font-size);
    font-weight: 500;
    line-height: 130%;
    text-decoration: none;
}

.categoryImg {
    width: 90%;
    max-width: 319px;
    height: auto;
    object-fit: fill;
}