.headerWrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding: 40px 40px 0px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #d9d9d9;
    margin-left: 32px;
}

.backBtn {
    white-space: nowrap;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    color: var(--main-text-color);
}

@media (max-width: 560px) {
    .line,
    .backBtn {
        display: none;
    }

    .headerWrapper {
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .headerWrapper {
        padding: 0px 20px
    }
}