.orderFormBox {
    background-color: var(--light-grey);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 32px 32px 0px;
    width: 100%;
}

.orderFormBlock {
    display: flex;
    gap: 32px;
    width: 100%;
    justify-content: center;
}

.orderImage {
    width: 60%;
}

.orderForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px 0px;
    
}

.orderFormInput {
    width: 100%;
    padding: 16px 32px;
    border-radius: 6px;
    border: 1px solid var(--grey-divider);
    font-size: 20px;
    line-height: 130%;
    font-weight: 500;
    outline: none;
}

.orderFormInput::placeholder {
    opacity: 1;
}

.error{
    color: var(--red-error);
    opacity: 0.7;
}