.discountFormBox {
    background-color: var(--blue-btn);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 32px 32px 0px;
}

.h2 {
    color: var(--white-text);
}

.discountFormBlock {
    display: flex;
    gap: 32px;
    width: 100%;
    justify-content: center;
}

.imageBox {
    width: 60%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.discountImage {
    object-fit: cover;
    width: 100%;
}

.discountForm {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px 0px;
}

@media (max-width: 1090px) {
    .discountFormBlock {
        flex-direction: column-reverse;
    }

    .discountForm {
        width: 100%;
        padding-top: 0px;
    }

    .imageBox {
        display: none;
    }
}

.discountFormInput {
    width: 100%;
    padding: 16px 32px;
    border-radius: 6px;
    border: 1px solid var(--white-text);
    font-size: var(--h4-font-size);
    line-height: 130%;
    font-weight: 500;
    background-color: transparent;
    color: var(--white-text);
}

.discountFormInput::placeholder {
    color: var(--white-text);
}

.error {
    color: var(--white-text);
    opacity: 0.5;
}